<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<ul class="list-group">
    <br>
    <div class="mb-3">
        <input type="text" [(ngModel)]="filterColorText" class="form-control" id="filterColorText" 
        placeholder="Renk adı giriniz">
      </div>
      <div *ngIf="filterColorText" class="alert alert-success">
          {{filterColorText}} aradınız
      </div>
    <li (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.colorId}}"
    *ngFor="let color of colors | colorFilter:filterColorText" 
    [class]="getCurrentBrandClass(color)">{{color.colorName}}</li>
  </ul>
<!-- <table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Renk</th>
        </tr>
    </thead>
    <tr *ngFor="let color of colors">
        <td>{{color.colorId}}</td>
        <td>{{color.colorName}}</td>
    </tr>
</table> -->