<!-- <div class="col-md-7 mx-auto">
    <div class="card-body" style="background-color: whitesmoke; position: relative;">
      <h5 class="card-title">Kredi kartı ile satın alma</h5>
      <input type="text" [(ngModel)]="cardNumber" class="form-control" id="nameText" 
      placeholder="Kartın üzerindeki isim" style="margin-top: 20px;">
      <input type="text" [(ngModel)]="cardNumber" class="form-control" id="numberText" 
      placeholder="Kart numarası" style="margin-top: 20px;">
      <input type="text" [(ngModel)]="cardCvv" class="form-control" id="cvvText" 
      placeholder="Cvv" style="margin-top: 20px;">
      <button type="button" class="btn btn-success" style="position:absolute; bottom:20px; right:20px;" (click)="rentACar()">Kirala</button>
      <p style="position:absolute; bottom:20px; left:20px;">{{rental.totalRentPrice | currency: "TRY":"symbol-narrow":"1.2-2"}}</p>
      <br><br>
      <p> </p>
    </div>
</div> -->




<body class="bg-light">
    
  <div class="container">
    <main>
      <div class="py-5 text-center">
       
        <h2>Araç Kiralama Sayfası</h2>
        <p class="lead">Sizlerin güvenliği için araçlarımızın bakımı düzenli olarak yapılmaktadır. Mutlu ve Huzurlu sürüşler dileriz.</p>
      </div>
  
      <div class="row g-3">
    
        <div class="col-md-1 col-lg-8"> 
          <h4 class="mb-3">Kişi Bilgileri</h4>
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">İsim</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
               
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Soyisim</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                
              </div>
  
              <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>
  



              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                
              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">Adres</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
               
              </div>
  
            </div>

            <hr class="my-4">
  
            <h4 class="mb-3">Kart Bilgileri</h4>
  
            <div class="my-3">
              <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                <label class="form-check-label" for="credit">Kredi Kartı</label>
              </div>
              <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                <label class="form-check-label" for="debit">Banka Kartı</label>
              </div>
              
            </div>
  
            <div class="row gy-3">
              <div class="col-md-6">
                <label for="cardName" class="form-label">Kart üzerindeki isim</label>
                <input type="text" class="form-control" id="cardName" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                
              </div>
  
              <div class="col-md-6">
                <label for="cardNumber" class="form-label">Kart numarası</label>
                <input type="text" class="form-control" id="cardNumber" placeholder="" required>
                 
              </div>
  
              <div class="col-md-3">
                <label for="cc-expiration" class="form-label">Tarih</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
               
              </div>
  
              <div class="col-md-3">
                <label for="cardCvv" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cardCvv" placeholder="" required>
              
              </div>
            </div>
  
            <hr class="my-4">
  
            <button  class="w-100 btn btn-primary btn-lg" type="button">Ödeme işlemi</button>
          </form>
        </div>
      </div>
    </main>
    <br>
  </div>
    </body> 
