<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div *ngIf="dataLoaded==true" class="card mb-3">
    <div *ngFor="let car of cars" class="card-header text-center">
      <strong>
          {{car.brandName}} - {{car.modelYear}}
      </strong>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let carImage of carImages let i = index" [class]="getSliderClassName(i)">
          <!-- <img src="{{apiUrl}}{{carImage.imagePath}}" class="d-block w-100" alt="{{apiUrl}}{{carImage.imagePath}}"> -->
          <img
          [src]="apiUrl + carImage.imagePath"
          class=""
          style="height: 100%; width: 50%;"
          [alt]="carImage.imagePath"
        />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Araba Numarası</th>
                <th>Marka</th>
                <th>Renk</th>
                <th>Model</th>
                <th>Günlük Kirası</th>
                <th>Açıklama</th>
                <th></th>
            </tr>
            <tr>
              <th></th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.carId}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice | currency:"Günlük/TL"}}</td>
            <td>{{car.description}}</td>
            <td><button routerLink="/creditcards" type="button" class="btn btn-success">Kirala</button></td>
        </tr>
        <tr>
          <td><button routerLink="/cars/add" type="button" class="btn btn-success">Araç ekle</button></td>
        </tr>
      </tbody>
    </table>
  </div>
